<!--


       444444444       000000000      333333333333333
      4::::::::4     00:::::::::00   3:::::::::::::::33
     4:::::::::4   00:::::::::::::00 3::::::33333::::::3
    4::::44::::4  0:::::::000:::::::03333333     3:::::3
   4::::4 4::::4  0::::::0   0::::::0            3:::::3
  4::::4  4::::4  0:::::0     0:::::0            3:::::3
 4::::4   4::::4  0:::::0     0:::::0    33333333:::::3
4::::444444::::4440:::::0 000 0:::::0    3:::::::::::3
4::::::::::::::::40:::::0 000 0:::::0    33333333:::::3
4444444444:::::4440:::::0     0:::::0            3:::::3
          4::::4  0:::::0     0:::::0            3:::::3
          4::::4  0::::::0   0::::::0            3:::::3
          4::::4  0:::::::000:::::::03333333     3:::::3
        44::::::44 00:::::::::::::00 3::::::33333::::::3
        4::::::::4   00:::::::::00   3:::::::::::::::33
        4444444444     000000000      333333333333333



  This is the default "403: Forbidden" page.
  User agents that don't "Accept" HTML will see a JSON version instead.
  You can customize the control logic for your needs in `config/403.js`

  You can trigger this response from one of your controllers or policies with:
  `return res.forbidden( msg );`
  (where `msg` is an optional error message to include in the response)




-->


<div class="page">
  <div class="ocean text-center">
    <img style="height: 20vh; width: 20vh;" src="/images/trusty-logo.png">
  </div>

  <div class="main">
    <div class="row text-center">
      <h1>
        Accès refusé
      </h1>
    </div>
    <div class="row ">
      <div class="text-center col-md-4 col-md-offset-4 col-xs-6 col-xs-offset-3">
        <h2 class="alert alert-danger">
          <% if (typeof data !== 'undefined') { %>
            <%= data %>
              <% } else { %>
                Vous n'avez pas les droit nécéssaire, veuillez contacter les membres fondateurs de trusty-shop
                <% } %>
        </h2>

      </div>
    </div>


    <% if(!req.session.authenticated){ %>

      <div class="row ">
        <div class="text-center col-md-4 col-md-offset-4 col-xs-6 col-xs-offset-3">
          <a href="/connect">
            <button type="button" class="btn btn-primary">se connecter</button>
          </a>
        </div>
      </div>

      <% } else { %>
        <div class="row ">
          <div class="text-center col-md-4 col-md-offset-4 col-xs-6 col-xs-offset-3">
            <a href="/confirmUser">
              <button type="button" class="btn btn-primary">Valider votre compte</button>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="text-center col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4  col-xs-6 col-xs-offset-3">
            <p style="margin: 1vh" class="alert alert-warning">Veuillez vous munir de votre carte d'identié et d'un lecteur eID</p>
          </div>
        </div>
      <% } %>
  </div>