<!--


       444444444       000000000            444444444
      4::::::::4     00:::::::::00         4::::::::4
     4:::::::::4   00:::::::::::::00      4:::::::::4
    4::::44::::4  0:::::::000:::::::0    4::::44::::4
   4::::4 4::::4  0::::::0   0::::::0   4::::4 4::::4
  4::::4  4::::4  0:::::0     0:::::0  4::::4  4::::4
 4::::4   4::::4  0:::::0     0:::::0 4::::4   4::::4
4::::444444::::4440:::::0 000 0:::::04::::444444::::444
4::::::::::::::::40:::::0 000 0:::::04::::::::::::::::4
4444444444:::::4440:::::0     0:::::04444444444:::::444
          4::::4  0:::::0     0:::::0          4::::4
          4::::4  0::::::0   0::::::0          4::::4
          4::::4  0:::::::000:::::::0          4::::4
        44::::::44 00:::::::::::::00         44::::::44
        4::::::::4   00:::::::::00           4::::::::4
        4444444444     000000000             4444444444



  This is the default "404: Not Found" page.
  User agents that don't "Accept" HTML will see a JSON version instead.
  You can customize the control logic for your needs in `config/404.js`

  Sails considers a request to be in a "404: Not Found" state when a user
  requests a URL which doesn't match any of your app's routes or blueprints.

  You can also trigger this response from one of your controllers or policies with:
  `return res.notFound();`


-->

<div class="page">
  <div class="ocean text-center">
    <img style="height: 20vh; width: 20vh;" src="/images/trusty-logo.png">
  </div>

  <div class="main">
    <div class="row text-center">
      <h1>
        Page introuvable
      </h1>
    </div>
    <div class="row ">
      <div class="text-center col-md-4 col-md-offset-4 col-xs-6 col-xs-offset-3">
        <h2 class="alert alert-danger">
          La page que vous tentez d'atteindre n'existe pas.
        </h2>
      </div>
    </div>

    <div class="row ">
      <div class="text-center col-md-4 col-md-offset-4 col-xs-6 col-xs-offset-3">
        <a href="/">
          <button type="button" class="btn btn-primary">Accueil</button>
        </a>
      </div>
    </div>

  </div>