<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-3">
            <div class="bs-example">
                <ul class="breadcrumb" style="margin-bottom: 5px;">
                    <li>
                        <a href="/goods">Trusty Shop</a>
                    </li>
                    <li class="active">Nouvelle vente</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <h1>Mise en vente</h1>
    </div>

    <div class="row">
        <form id="addGoodForm" role="form">
            <div class="row div ">
                <div class="col-md-6 col-md-offset-3 col-sm-6 col-xs-6 col-xs-offset-3  col-sm-offset-3 col-lg-8 col-lg-offset-2">
                    <label for="title" class="">
                        Titre:
                    </label>
                    <div class="">
                        <input type="text" class="form-control" id="title" placeholder="Entrez le titre de la vente">
                    </div>
                </div>
            </div>
            <div class="row div">
                <div class="col-md-6 col-md-offset-3 col-sm-6 col-xs-6 col-xs-offset-3  col-sm-offset-3 col-lg-8 col-lg-offset-2">
                    <label for="descrption" class="">
                        Description:
                    </label>
                    <div class="">
                        <textarea type="text" class="form-control" id="description"></textarea>
                    </div>
                </div>
            </div>
            <div class="row div">
                <div class="col-md-6 col-md-offset-3 col-sm-6 col-xs-6 col-xs-offset-3  col-sm-offset-3 col-lg-8 col-lg-offset-2">
                    <label for="price" class="">
                        Prix de départ:
                    </label>
                    <div class="">
                        <input type="number" step="0.01" class="form-control" id="price" placeholder="Entrez le montant de départ">
                    </div>
                </div>
            </div>
            <div class="row div">
                <div class="col-md-6 col-md-offset-3 col-sm-6 col-xs-6 col-xs-offset-3  col-sm-offset-3 col-lg-8 col-lg-offset-2">
                    <label for="date" class="">
                        Date de fin:
                    </label>
                    <div class="">
                        <input type="date" class="form-control" id="date" min="" max="">
                    </div>
                </div>
            </div>
            <div class="row div">
                <div class="col-md-6 col-md-offset-3 col-sm-6 col-xs-6 col-xs-offset-3  col-sm-offset-3 col-lg-8 col-lg-offset-2">
                    <label for="category" class="">
                        Catégorie:
                    </label>
                    <div class="">
                        <select name="category" id="category" class="form-control">
                            <option disabled selected>--Choisissez une catégorie--</option>
                            <% categories.forEach(function(c){ %>
                                <option id="<%= c.id %>">
                                    <%= c.name %>
                                </option>
                                <% }) %>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row div">
                <div class="col-md-6 col-md-offset-3 col-sm-6 col-xs-6 col-xs-offset-3  col-sm-offset-3 col-lg-8 col-lg-offset-2">
                    <label for="otherCategory" class="">
                        Autre catégorie:
                    </label>
                    <div class="">
                        <input type="text" class="form-control" id="otherCategory" placeholder="Entrez la catégorie de l'objet si elle n'est pas présente au dessus">
                    </div>
                </div>
            </div>
            <div class="row div">
                <div class="col-md-6 col-md-offset-3 col-sm-6 col-xs-6 col-xs-offset-3  col-sm-offset-3 col-lg-8 col-lg-offset-2">
                    <label for="uploadimage" class="">
                        Upload Image:
                    </label>
                    <div class="">
                        <input type="file" name="uploadimage" id="file_image" multiple="multiple" accept="image/*" />
                        <p class="help-block">
                            Format autorisé: jpeg, jpg, gif, png
                        </p>
                    </div>
                </div>
            </div>
            <div class="row div">
                <div class="col-md-6 col-md-offset-3 col-sm-6 col-xs-6 col-xs-offset-3  col-sm-offset-3 col-lg-8 col-lg-offset-2">
                    <div class="">
                    </div>
                    <div class="">
                        <label>
                            <input type="checkbox" name="checkbox"> J'accepte les termes et conditions d'utilisation de ce site.
                        </label>
                    </div>
                </div>
            </div>
            <div id="prog" class="bs-example col-md-6 col-md-offset-3 col-sm-6 col-xs-6 col-xs-offset-3  col-sm-offset-3 col-lg-8 col-lg-offset-2">
                <div class="progress">
                    <div class="progress-bar" id="progressBar"></div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6 col-md-offset-3 col-sm-6 col-xs-6 col-xs-offset-3  col-sm-offset-3 col-lg-8 col-lg-offset-2">
                    <div id="messageAddGood">

                    </div>
                </div>
            </div>

            <div class="row div">
                <div class="col-md-6 col-md-offset-3 col-sm-6 col-xs-6 col-xs-offset-3  col-sm-offset-3 col-lg-8 col-lg-offset-2">
                    <div class="">
                        <button id="confirm" type="button" class="btn btn-info">
                            Ajouter l'article
                        </button>
                        <button type="reset" class="btn btn-info">
                            Réinitialiser
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>