<h3>Les enchères</h3>
<div class="row">
    <div class="col-sm-9">
        <% if(auctions.length == 0){ %>
           <div>
               <p>Aucune enchère sur cette objet.</p>
           </div>
        <%}
        auctions.forEach(function(a){ %>
            <div class="row">
                <div class="col-xs-12">
                    <p>
                        <a href='/user/<%= a.id_user.id %>'><%= a.id_user.first_name %> <%= a.id_user.last_name %></a> a augmenté les enchères à <%= a.price %>
                    </p>
                    <div class="text-center">
                        <p>enchère effectuée le <%=  moment(a.createdAt).format( 'DD.MM.YYYY à HH:mm:ss') %> </p>
                    </div>
                </div>
            </div>
            <hr/>
        <% }); %>
    </div>
</div>