<div class="container">

    <div class="row">

        <div class="col-md-12" style="text-align: center; margin: 0 auto;">

            <h1>Connexion</h1>
            <p class="lead">Entrez vos identifiants pour vous connecter</p>
            <div class="alertMessageDiv col-md-4 col-md-offset-4" id="messageAlert">

            </div>
            <form class="col-md-4 col-md-offset-4" id="login_form">
                <div class="row">
                    <div class="col-md-12 form-group">
                        <label for="login_email">Adresse e-mail</label>
                        <input type="text" class="form-control" placeholder="Entrez e-mail" id="login_email">
                    </div>
                    <div class="col-md-12 form-group">
                        <label for="login_password">Mot de passe</label>
                        <input type="password" class="form-control" placeholder="Entrez mot de passe" id="login_password">
                    </div>
                    <div class="col-md-12 text-center">
                        <button type="submit" class="btn btn-success">Se connecter</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /#container -->