<% if(pictures.length > 0) { %>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-lg-8 col-lg-offset-2">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <% for(var i = 1; i < pictures.length; i++) { %>
                        <li data-target="#myCarousel" data-slide-to='<%= i %>'></li>
                    <% } %>
                </ol>
            
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src='<%= pictures[0].b64 %>' alt='<%= good.title %>'>
                    </div>
                    <% for(var i = 1; i < pictures.length; i++) { %>
                        <div class="item">
                            <img src='<%= pictures[i].b64 %>' alt='<%= good.title %>'>
                        </div>
                    <% } %>
                </div>
            
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div><br/>
<% } %>