<div id="page-wrapper">  
    <div class="row">
        <div class="col-lg-3">
            <div class="bs-example">
                <ul class="breadcrumb" style="margin-bottom: 5px;">
                    <li><a href="/goods">Trusty Shop</a></li>
                    <li class="active"><%= categorie %></li>
                </ul>
            </div>
        </div>
    </div>

    <% if(goods.length > 0) { %>
        <div class="row">
            <div class="col-sm-12">
                <% goods.forEach(function(g){ %>
                    <div class="row">
                        <h2><%= g.title %></h2>
                        <div class="col-xs-3">
                            <a href='/good/<%= g.id %>'>
                                <% if(g.picture) { %>
                                    <img alt="" src='<%= g.picture.b64 %>' class="col-xs-12"/>
                                <% } else { %>
                                    <p class="col-xs-12">Aucune image pour cette article</p>
                                <% } %>
                            </a>
                        </div>
                        <div class="col-xs-3">
                            <h4>Description</h4>
                            <p>
                                <%= g.description %>
                            </p>
                        </div>
                        <div class="col-xs-3">
                            <h4>Prix de départ</h4>
                            <%= g.starting_price %>
                        </div>
                        <div class="col-xs-3">
                            <h4>Date de mise en vente</h4>
                            <%= moment(g.createdAt).format( 'DD.MM.YYYY à HH:mm:ss') %>
                            <h4>Date de fin</h4>
                            <%= moment(g.end_date).format( 'DD.MM.YYYY à 20:30:00') %>
                        </div>
                    </div>
                    <hr/>
                <% }); %>
            </div>
        </div>
    <% } else { %>
        <div class="row">
            <div class="col-md-3">
                <p class="text-info">
                    <% if(categorie == "Mes Objets"){ %>
                        Vous n'avez pas d'objet en vente.
                    <% } else { %>
                        Aucun objet ne correspond aux critères.
                    <% } %>
                </p>
            </div>
        </div>
    <% } %>
</div>