<div id="page-wrapper">
 
    <h1><%= good.title %></h1>
    
    <%- include carousel.ejs %>

    <div class="row">
        <div class="col-sm-9">
            <h3>Vendeur</h3>
            <p><a href='/user/<%= seller.id %>'><%= seller.first_name %> <%= seller.last_name %></a></p>
            <h3>Description</h3>
            <p><%= good.description %></p>
            <h3>Prix de départ : </h3> <%= good.starting_price %>
        </div>
    </div>

    <% if(good.good_state == 'O'){ %>
        <% if(req.session.authenticated && req.session.user.confirmed){ %>
                <div class="row">
                    <form role="form">
                        <div class="col-md-6 col-md-offset-3 col-sm-6 col-xs-6 col-xs-offset-3 col-sm-offset-3 col-lg-6 col-lg-offset-2">
                            <div class="form-group input-group">
                                <span class="input-group-addon"><i class="fa fa-eur"></i></span>
                                <input id="montant" type="number" class="form-control" placeholder="Montant de l'enchère">
                            </div>
                        </div>
                        <button type="button" class="btn btn-default" id="auction">Enchérir</button>            
                    </form>
                </div>
                <div class="row text-center">
                    <div id="errorAuction" class="col-md-6 col-md-offset-3 col-sm-6 col-xs-6 col-xs-offset-3  col-sm-offset-3 col-lg-6 col-lg-offset-2">
                        
                    </div>                
                </div>
        <% } %>
    <% } else if(canComment){ %>
        <h3>Ajouter un commentaire sur cette vente</h3>
        <div class="row">
            <div class="col-sm-6">
                <form role="form">
                    <input type="number" id="idGood" value='<%= good.id %>' hidden/>
                    <input type="number" id="userID" value='<%= good.id_seller %>' hidden/>
                    <div class="row">
                        <div class="col-sm-8">
                            <textarea type="text" class="form-control" id="comment" placeholder="Commentaire ..."></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="form-group">
                                <label>Note : </label>
                                <label class="radio-inline">
                                    <input type="radio" name="score" id="star1" value="1" checked="">
                                    1
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="score" id="star2" value="2">
                                    2
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="score" id="star3" value="3">
                                    3
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="score" id="star4" value="4">
                                    4
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="score" id="star5" value="5">
                                    5
                                </label>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-default" id="commentButton">Commenter</button>            
                </form>
            </div>
        </div>
    <% } else if(typeof comment !== 'undefined') { %>
        <h3>Votre commentaire sur cette vente</h3>
        <div class="row">
            <div class="col-sm-5">
                <p><%= comment.comment %></p>
                <p>Etoiles attribuées :
                    <% for(var i = 0; i < comment.score; i++) { %>
                        <i class="fa fa-star"></i>
                    <% } %>
                    <% for(var i = comment.score; i < 5; i++) { %>
                        <i class="fa fa-star-o"></i>
                    <% } %>
                </p>
            </div>
        </div>
    <% } %>

    <%- include auctions.ejs %>

</div>