<div id="page-wrapper">
    <div class="row text-center">
        <h1> Mes enchères</h1>
    </div>
    <% for(var i = 0; i < types.length; i++){ %>
        <div class="row">
            <div class="col-lg-12">
                <div class='panel panel-<%= types[i] %>'>
                    <div class="panel-heading">
                        <h3 class="panel-title">Mes enchères <%= titles[i] %></h3>
                    </div>
                    <div class="panel-body">
                        <% if(auctions[i].length>0){ %>
                            <div id="shieldui-grid1" role="grid" aria-readonly="true" class="sui-grid sui-grid-core">
                                <div class="sui-gridheader">
                                    <table class="sui-table">
                                        <colgroup>
                                            <col style="width:170px">
                                            <col>
                                            <col>
                                            <col>
                                        </colgroup>
                                        <thead>
                                            <tr role="row" class="sui-columnheader">
                                                <th data-field="ID" role="columnheader" tabindex="-1" class="sui-headercell"><a href="#" class="sui-link sui-unselectable" unselectable="on" tabindex="-1">ID</a></th>
                                                <th data-field="Objet" role="columnheader" tabindex="-1" class="sui-headercell"><a href="#" class="sui-link sui-unselectable" unselectable="on" tabindex="-1">Objet</a></th>
                                                <th data-field="Date" role="columnheader" tabindex="-1" class="sui-headercell"><a href="#" class="sui-link sui-unselectable" unselectable="on" tabindex="-1">Date</a></th>
                                                <th data-field="Prix" role="columnheader" tabindex="-1" class="sui-headercell"><a href="#" class="sui-link sui-unselectable" unselectable="on" tabindex="-1">Prix</a></th>
                                            </tr>
                                        </thead>
                                        <tbody class="sui-hide">
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="sui-gridcontent">
                                    <table class="sui-table">
                                        <colgroup>
                                            <col style="width:170px">
                                            <col>
                                            <col>
                                            <col>
                                        </colgroup>
                                        <tbody>
                                            <% auctions[i].forEach(function(a){ %>
                                                <tr class="sui-row" role="row">
                                                    <td role="gridcell" tabindex="-1" class="sui-cell"><%= a.id %></td>
                                                    <td role="gridcell" tabindex="-1" class="sui-cell"><a href='/good/<%= a.id_good %>'><%= a.good.title %></a></td>
                                                    <td role="gridcell" tabindex="-1" class="sui-cell"><%= moment(a.createdAt).format( 'DD.MM.YYYY à HH:mm:ss') %></td>
                                                    <td role="gridcell" tabindex="-1" class="sui-cell"><%= a.price %></td>
                                                </tr>
                                            <% }) %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        <% } else { %>
                            <p class='text-<%= types[i] %>'>Aucunes enchères de ce type</p>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    <% }; %>
</div>