<div id="page-wrapper">

    <%- include carousel.ejs %>

    <div class="row">
        <div>
        <form role="form">
            <input type="hidden" id="idGood" value='<%= good.id %>'/>
            <div class="row div">
                <label for="title" class="col-md-2">
                    Titre:
                </label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="title" value='<%= good.title %>'>
                </div>
            </div>        
            <div class="row div">
                <label for="descrption" class="col-md-2">
                    Description:
                </label>
                <div class="col-md-9">
                    <textarea type="text" class="form-control" id="description"><%= good.description %></textarea>
                </div>
            </div>
            <div class="row div">
                <label for="price" class="col-md-2">
                    Prix de départ:
                </label>
                <div class="col-md-9">
                    <input type="number" class="form-control" id="price" value='<%= good.starting_price %>' disabled>
                </div>
            </div>
            <div class="row div">
                <label for="date" class="col-md-2">
                    Date de fin:
                </label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="date" value='<%= good.end_date %>' disabled>
                </div>
            </div> 
            <div class="row div">
                <label for="category" class="col-md-2">
                    Catégorie:
                </label>
                <div class="col-md-9">
                    <select name="category" id="category" class="form-control">
                        <% categories.forEach(function(c){ 
                            if(c.id == good.category_id){ %>
                                <option selected id="<%= c.id %>"><%= c.name %></option>
                            <% } else { %>
                                <option id="<%= c.id %>"><%= c.name %></option>
                            <% }
                        }) %>
                    </select>
                </div>            
            </div>
            <div class="row div">
                <label for="uploadimage" class="col-md-2">
                    Upload Image:
                </label>
                <div class="col-md-10">
                    <input type="file" name="uploadimage" id="file_image" multiple="multiple" accept="image/*"/>
                    <p class="help-block">
                        Format autorisé: jpeg, jpg, gif, png
                    </p>
                </div>          
            </div>
            <div class="bs-example">
                <div class="progress">
                    <div class="progress-bar" id="progressBar"></div>
                </div>
            </div>
            <div class="row text-center">
                    <div class="col-md-6 col-md-offset-3 col-sm-6 col-xs-6 col-xs-offset-3  col-sm-offset-3 col-lg-8 col-lg-offset-2">
                        <div id="messageAddGood">
    
                        </div>
                    </div>
                </div>
            <% if(good.state == 'O'){ %>
                <div class="row div">
                    <div class="col-md-10">
                        <button type="button" id="updateGood" class="btn btn-info">
                            Modifier l'article
                        </button>
                    </div>
                </div>
            <% } %>
        </form>
    </div>

    <% if(typeof comment !== 'undefined') { %>
        <h3>Commentaire de l'acheteur (<a href='/user/<%= buyer.id %>'><%= buyer.first_name %> <%= buyer.last_name %></a>) sur cette vente</h3>
        <div class="row">
            <div class="col-sm-5">
                <p><%= comment.comment %></p>
                <p>Etoiles attribuées :
                    <% for(var i = 0; i < comment.score; i++) { %>
                        <i class="fa fa-star"></i>
                    <% } %>
                    <% for(var i = comment.score; i < 5; i++) { %>
                        <i class="fa fa-star-o"></i>
                    <% } %>
                </p>
            </div>
        </div>
    <% } %>

    <%- include auctions.ejs %>

</div>