<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Trusty Shop</a>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul id="active" class="nav navbar-nav side-nav">
            <li><a href="/goods">Tout</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right navbar-user">
            <% if(req.session.authenticated){ %>
                <li><a href="/addgood">Vendre un objet</a></li>
                <li><a href="/mygoods">Mes objets</a></li>
                <li><a href="/myauctions">Mes enchères</a></li>
                <li class="dropdown user-dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user" id="user"></i><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/profile"><i class="fa fa-user"></i> Profil</a></li>
                        <li><a href="/settings"><i class="fa fa-gear"></i> Paramètres</a></li>
                        <li><a href="/user"><i class="fa fa-star"></i> Critiques</a></li>
                        <li class="divider"></li>
                        <li><a href="/logout"><i class="fa fa-power-off"></i> Déconnexion</a></li>
                        
                    </ul>
                </li>
            <% } else { %>
                <li>
                    <a href="/connect">Se connecter</a>
                </li>
                <li>
                    <a href="/register">S'inscrire</a>
                </li>
            <% } %>
            <li class="divider-vertical"></li>            
            <li>
                <form class="navbar-search">
                    <input type="text" placeholder="Search" class="form-control" id="search_element">
                </form>
            </li>
            <li>
                <a id="search">
                    <i class="fa fa-search"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>