<div class="container">
    <div id="ModalRegister" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Validation</h4>
          </div>
          <div class="modal-body">
            <p>Souhaitez vous valider votre compte directement ?</p>
            <p class="text-warning">
              <small>Si vous ne validez pas votre compte aucune action concrète ne pourra être éffectuée.</small>
            </p>
            <p class="text-success">
              <small>Pour valider votre compte, veuillez vous munir de votre carte d'identité et d'un lecteur eID</small>
            </p>
          </div>
          <div class="modal-footer">
            <button id="NotNow" type="button" class="btn btn-default" data-dismiss="modal">Pas maintenant</button>
            <button id="ConfirmNow" type="button" class="btn btn-primary">Oui j'ai hâte</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" style="text-align: center; margin: 0 auto;">

        <h1>Inscription</h1>
        <div class="alertMessageDiv col-md-4 col-md-offset-4" id="messageAlert">

          <div class="alert alert-warning">
            <strong>Remarque:</strong> tous les champs sont obligatoires
          </div>
        </div>
        <div class="col-md-4 col-md-offset-4">
          <form id="register_form">
            <div class="row">
              <div class="col-md-12 form-group">
                <label for="register_email">Adresse e-mail</label>
                <input type="text" class="form-control" placeholder="Entrez email" id="register_email">
              </div>
              <div class="col-md-12 form-group">
                <label for="register_tel">Numéro de téléphone</label>
                <input type="tel" class="form-control" placeholder="Entrez téléphone" id="register_tel">
              </div>
              <div class="col-md-12 form-group">
                <label for="register_username">Nom d'utilisateur</label>
                <input type="text" class="form-control" placeholder="Entrez nom d'utilisateur" id="register_username">
              </div>
              <div class="col-md-12 form-group">
                <label for="register_password">Mot de passe</label>
                <input type="password" class="form-control" placeholder="Entrez mot de passe" id="register_password">
              </div>
              <div class="col-md-12 form-group">
                <label for="register_confirm">Confirmer Mot de passe</label>
                <input type="password" class="form-control" placeholder="Confirmez mot de passe" id="register_confirm">
              </div>
              <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-success">S'inscrire</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>