<div id="page-wrapper">
    
    <h1>Profil de <%= user.first_name %> <%= user.last_name %></h1>

    <div class="row">
        <div class="col-sm-9">
            <% if(comments.length == 0) { %>
                <div>
                    <p>
                        <% if(user.id == req.session.user.id){ %>
                            Aucune critique n'a été faite sur vous.
                        <% } else { %>
                            Aucune critique n'a été faite sur cet utilisateur.
                        <% } %>
                    </p>
                </div>
            <% }
            comments.forEach(function(c){ %>
                <div class="row">
                    <div class="col-xs-12">
                        <h3>Commentaire de <a href='/user/<%= c.id_author.id%>'><%= c.id_author.first_name %> <%= c.id_author.last_name %></a> sur l'objet <a href='/good/<%= c.id_good.id %>'>"<%= c.id_good.title %>"</a></h3>
                        <p>
                            <%= c.comment %>
                        </p>
                        <div class="text-center">
                            Note : 
                            <% for(var i = 0; i < c.score; i++) { %>
                                <i class="fa fa-star"></i>
                            <% } %>
                            <% for(var i = c.score; i < 5; i++) { %>
                                <i class="fa fa-star-o"></i>
                            <% } %>
                        </div>
                    </div>
                </div>
                <hr/>
            <% }); %>
        </div>
    </div>

</div>